
.container {
	margin-bottom: 5vh;
}

.banner {
	padding: 25px;
	display: flex;
	flex-direction: row;
	background-color: #f6d155;
	justify-content: space-between;;
	align-items: flex-end;
	/*margin:auto;*/

}

.title{
	/* flex-grow:3; */
	/* margin: auto;  Magic! */
}

.title h1{
	font-family:'Libre Baskerville';
	font-style: italic;
	line-height: .9;
	color: #FFF;
	margin: 0px;
}
/** navigation **/
.navigation{
	display:flex;
	align-items: flex-end;

}

.navigation ul{
	list-style: none;
	display:flex;
	justify-content: flex-end;
  align-items: flex-end;
  margin:auto;
	margin-bottom: 0px;
}
.navigation li{
	padding-left:2rem;
	margin: 0px;
	font-family:'Open Sans';
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1em;
	color: #FFF;
}

.navigation li:hover{
	color:#5487a4;
}

/** fonts **/
.big-text {
	font-family:'Open Sans';
	font-weight: Light;
}

.sub-header h2{
	font-family:'Open Sans';
	font-weight: 800;
	text-transform: uppercase;
	font-size:1.25em;

	color: #888;
}

h3{
	font-family:'Libre Baskerville';
	font-style: italic;
	text-transform: uppercase;
	color:#222;
	font-size: 1.75em;
}

/** method layout **/

.img {
	height:100px;
	width: auto;
	margin: 0;
	background: #f4dcc1;
}

}
.row .method h5{
	font-family:'Libre Baskerville';
	font-style: italic;
	text-transform: uppercase;
	color:#222;
	font-size: 1em;
}

/** colors **/

.two{
	height: 100px;
}
.color1{
	background: #f6d155;
}
.color2{
	background: #f4dcc1;
}
.color3{
	background: #44345e
}
.color4{
	background: #5487a4
}
.color5{
	background: #004b8d
}
.color6{
	background: #c1c1c1
}
